.footer {
    background: #ab8261;
    color: var(--fonovyy-svetlyy);
    padding: 60px 0 60px;
}

.footer__inner {
    display: grid;
    grid-template-columns: .9fr .9fr 1.1fr auto;
}

.footer__col:first-child {
    margin-top: -30px;
}

.foooter__logo {
    max-width: 241px;
}

.foooter__logo {
    width: 100%;
}

.foooter__logo-text {
    margin-bottom: 20px;
}


.footer__col__item {
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}

.footer__col__item:last-child {
    margin-bottom: 0;
}

.footer__col__link {
    padding: 5px 0;
}

.footer__col__link::before {
    display: block;
    content: '';
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--akcentnyy);
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    opacity: 0;
    transition: var(--transition);
}

.footer__col__link:hover:before {
    opacity: 1;
}

.footer__contact-item {
    margin-bottom: 10px;
}

.footer__contact-item:last-child {
    margin-bottom: 0;
}

.footer__col-tel {
    margin-bottom: 47px;
}

.footer__col__number {
    display: block;
    line-height: 1.6;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    transition: var(--transition);
}

.footer__col__number:hover {
    color: var(--akcentnyy);
}

.footer__col-copy {
    color: #dec5b1;
}


.socials {
    line-height: 0;
}

.socials__list {
    display: flex;
    gap: 17px;
}

.socials__link path {
    transition: var(--transition);
}

.socials__link:hover path {
    fill: var(--akcentnyy);
}
