:root {
    --fonovyy-svetlyy: #fff9f4;
    --nabornyy: #312c27;
    --akcentnyy: #ffa55c;
    --zagolovochnyy: #1f1711;
    --fonovyy: #ffe0cb;
    --transition: all .4s;
    --border-radius: 20px;
    --inputy:#ac907a;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

.body {
    font-family: "Montserrat", "Arial", sans-serif;
    background: var(--fonovyy-svetlyy);
    line-height: 1.5;
    color: var(--nabornyy);
}

.body--opend-menu {
    overflow: hidden;
}

.body--opend-modal {
    overflow: hidden;
}

.title {
    line-height: 0.82;
    color: var(--zagolovochnyy);
    font-family: Gabriola;
    font-size: 74px;
}

.wraper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.main__about {
    padding: 140px 0;
}

.main__program,
.main__gallery,
.main__testimonials {
    margin-bottom: 140px;
}



.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--akcentnyy);
    border-radius: 100px;
    height: 62px;
    padding: 3px 15px;
    width: 100%;
    transition: var(--transition);

}

.button:hover {
    background: #ff9138;
}


.modal {
    z-index: 10;
    position: fixed;
    inset: 0;
    background: #00000070;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}

.modal--opend {
    opacity: 1;
    visibility: visible;
}


.modal__windom {
    position: relative;
    background: var(--fonovyy-svetlyy);
    border-radius: var(--border-radius);
    padding: 0 60px 60px 60px;
    max-width: 428px;
}

.modal__img {
    margin: -65px 48px 15px 12px;
    max-width: 100%
}

.modal__img img {
    max-width: 100%
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.modal__close path,
rect {
    stroke: #e1d9e1;
    transition: var(--transition);
}

.modal__close:hover path,
.modal__close:hover rect {
    stroke: var(--inputy);
}

.modal__title {
    font-size: 42px;
    line-height: .9;
    margin-bottom: 10px;
}

.text {
    margin-bottom: 30px;
}



.modal__form-label {
    position: relative;

}

.modal__form-label span {
    position: absolute;
    top: -16px;
    left: 28px;
    font-size: 11px;
    color: var(--inputy);
    opacity: 0;
    transition: var(--transition);
}

.modal__form-input:focus+span {
    opacity: 1;
}

.modal__form-input:focus {

    border-color: var(--akcentnyy);
    padding: 26px 79px 12px 28px;
}

.modal__form-input {
    transition: var(--transition);
    width: 100%;
    border: 1px solid var(--inputy);
    border-radius: 5px;
    padding: 19px 79px 19px 28px;
    margin-bottom: 10px;
    border-radius: 60px;
    font-size: 15px;
}

.modal__form-input:hover {
    border-color: var(--akcentnyy);

}

.modal__form-input::placeholder {
    color: var(--inputy);
}

.modal__form-input:hover::placeholder {
    color: var(--akcentnyy);
}

.modal__form-input:focus::placeholder {
    color: var(--akcentnyy);
}

.button--modal {
    line-height: 1.6;
}

