:root {
    --fonovyy-svetlyy: #fff9f4;
    --nabornyy: #312c27;
    --akcentnyy: #ffa55c;
    --zagolovochnyy: #1f1711;
    --fonovyy: #ffe0cb;
    --transition: all .4s;
}

.body {
    font-family: "Montserrat", "Arial", sans-serif;
    background: var(--fonovyy-svetlyy);
    line-height: 1.5;
    color: var(--nabornyy);
}

.body--opend-menu {
    overflow: hidden;
}

.wraper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--akcentnyy);
    border-radius: 100px;
    height: 62px;
    padding: 3px 15px;
    width: 100%;
}

.button:hover {
    background: #ff9138;
}

/* ====================================================================== */

.header {
    background: url(../img/decor/bg-heder.png) no-repeat 50% 100%/ cover;
}

.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-content: space-between;
}

.header__logo {
    max-width: 174px;
    z-index: 11;
}

.header__logo img {
    width: 100%;
}

.heder__nav {
    margin-bottom: 7px;

}

.heder__nav-list {
    display: flex;
    gap: 4vh 40px;
}

.heder__nav-item {
    position: relative;
    z-index: 1;
}

.header__nav-link {
    padding: 5px 0;

}

.header__nav-link::before {
    display: block;
    content: '';
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--akcentnyy);
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    opacity: 0;
    transition: var(--transition);
}

.header__nav-link:hover:before {
    opacity: 1;
}

/* ======================================= */
.burger-icon {
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    transition: var(--transition);
}

.burger-icon span {
    position: relative;
    background: var(--nabornyy);
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
    background: var(--nabornyy);
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opend-menu .burger-icon span {
    background: transparent;
}

.body--opend-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opend-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

/* ======================================== */

.hero {
    padding: 48px 0 140px;

}

.hero__inner {
    display: flex;
    gap: 30px;
    align-items: flex-end;
    justify-content: space-between;
}

.hero__content {
    max-width: 519px;
}

.hero__info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    line-height: 1.6;
    text-transform: uppercase;
    color: #b197b2;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::before {
    display: block;
    content: '';
    margin: 0 10px;
    background: #b197b2;
    width: 4px;
    height: 4px;
    border-radius: 50%;
}

.hero__info span:first-child::before {
    content: none;
}

.hero__titel {
    line-height: 0.82;
    color: var(--zagolovochnyy);
    font-family: Gabriola;
    font-size: 74px;
    margin-bottom: 30px;
}

.hero__text {
    margin-bottom: 40px;
    max-width: 358px;

}

.hero__button {
    max-width: 358px;
}

.hero__img {
    position: relative;
    margin-right: 247px;
}

.hero__img>img {
    width: 100%;
}


.hero__img-control {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    height: 78px;
    position: absolute;
    left: calc(100% - 39px);
    bottom: 10%;
}

.hero__img-control--mobail {
    display: none;
}

.hero__img-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    padding-left: 3%;
    border-radius: 100%;
    background: var(--fonovyy);
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    position: relative;
}

.hero__img-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 100%;
    border: var(--akcentnyy) solid 1px;
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    opacity: 0;
    transition: var(--transition);
}

.hero__img-button:hover:before {
    opacity: 1;
}




















.footer {
    background: #ab8261;
    color: var(--fonovyy-svetlyy);
    padding: 60px 0 60px;
}
.footer__inner {
    display: grid;
    grid-template-columns: .9fr .9fr 1.1fr auto;
}
.footer__col:first-child {
    margin-top: -30px;
}
.foooter__logo {
    max-width: 241px;
}
.foooter__logo {
    width: 100%;
}
.foooter__logo-text {
    margin-bottom: 20px;
}


.footer__col__item {
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}
.footer__col__item:last-child {
    margin-bottom: 0;
}
.footer__col__link {
    padding: 5px 0;
}
.footer__col__link::before {
    display: block;
    content: '';
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--akcentnyy);
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    opacity: 0;
    transition: var(--transition);
}
.footer__col__link:hover:before {
    opacity: 1;
}
.footer__contact-item {
    margin-bottom: 10px;
}
.footer__contact-item:last-child {
    margin-bottom: 0;
}


.footer__col-tel {
    margin-bottom: 47px;
}
.footer__col__number {
    display: block;
    line-height: 1.6;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    transition: var(--transition);
}
.footer__col__number:hover {
    color: var(--akcentnyy);
}
.footer__col-copy {
    color: #dec5b1;
}



.socials {
    line-height: 0;
}
.socials__list {
    display: flex;
    gap: 17px;
}
.socials__item {}
.socials__link path {
    transition: var(--transition);
}
.socials__link:hover path {
    fill: var(--akcentnyy);
}

/* =================================================================================================== */
/* ====================================================================================== */
/* =================================================================================================== */

@media (max-width:1200px) {
    .hero__img-control {
        max-width: none;
        position: static;
        margin-top: 30px;
    }

    .hero__img {
        margin: 0;
        max-width: 377px;
    }
    /* ====================== */
    .footer__inner {
        justify-content: space-between;
        display: grid;
        grid-template: repeat(2, auto) / repeat(3, auto);
    }
    .footer__col:last-child {
        position: relative;
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
    }
    .footer__col-tel {
        position: absolute;
        top: -63px;
        right: 21px;
    }
    .footer__col-copy {
        margin-top: 30px;
    }
}

@media (max-width:900px) {
    .heder__nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--fonovyy-svetlyy);
        font-size: 24px;
        padding: 24vh 15px 30px;
        opacity: 0;

        visibility: hidden;
        transform: translateY(-50%);
        transition: var(--transition);
    }

    .body--opend-menu .heder__nav {
        opacity: 1;
        visibility: visible;
        transform: translateY(0%);
    }

    .heder__nav-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .burger-icon {
        display: flex;
    }
/* ======================================== */

}

@media (max-width:800px) {
    .hero__img {
        display: none;
    }

    .hero__img-control--mobail {
        display: flex;
        text-align: left;
        margin: 0 0 30px;
    }

    .hero__inner {
        justify-content: center;

    }

    .hero__content {
        text-align: center;
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    /* =================================== */
    .footer__inner {
        justify-content: space-around;
        display: grid;
        grid-template: repeat(2, auto) / repeat(2, auto);
        align-items: center;
    }
    .footer__col:last-child {
        position: static;
        grid-row: 2;
        grid-column: 2;
        display: block;
        justify-content: center;
    }
    .footer__col-tel {
        position: static;
    }

    .footer__col:nth-child(2) {
        grid-row: 2;
        grid-column: 1;
    }
    .foooter__logo-text {
        margin-bottom: 0;
    }
}

@media (max-width:600px) {
    .hero {
        padding-bottom: 80px;
    }

    .hero__titel {
        font-size: 12vw;
    }
/* ========================================= */
.footer__inner {
    justify-content: center;
    display: grid;
    grid-template: none;
    justify-items: center;
    align-items: center;
}
.footer__col:last-child {
    position: static;
    grid-row: auto;
    grid-column: auto;
    display: block;
    justify-content: center;
    
}

.footer__col:first-child {
    margin: -30px 0 30px;
}
.footer__col-tel {
    position: static;
}

.footer__col:nth-child(2) {
    grid-row: auto;
    grid-column: auto;
    margin-bottom: 30px;
}
.foooter__logo-text {
    margin-bottom: 0;
}


}