:root {
    --fonovyy-svetlyy: #fff9f4;
    --nabornyy: #312c27;
    --akcentnyy: #ffa55c;
    --zagolovochnyy: #1f1711;
    --fonovyy: #ffe0cb;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    background: var(--fonovyy-svetlyy);
    line-height: 1.5;
    color: var(--nabornyy);
}

.wraper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;


}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}
/* ====================================================================== */



.header {
}

.footer {
}


.header__top {
    padding-top: 19px;
}
.container {
}
.header__top-inner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-content: space-between;
}
.header__logo {
    max-width: 174px;
}
.heder__nav {
    margin-bottom: 7px;

}
.heder__nav-list {
    display: flex;
    gap: 40px;
}
.heder__nav-item {
    position: relative;
}

.header__nav-link {
    padding: 5px 0;
}
.header__nav-link::before {
    display: block;
    content: '';
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--akcentnyy);
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    opacity: 0;
    transition: all .4s;
}

.header__nav-link:hover:before {
    opacity: 1;
}